.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.post-list .post-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    margin: 20px 20px 0 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f0f0f0;     
}

.post-list .post-container hr {
    margin: 0 10px 0 10px;
    height: 1px;    
    border: 0;    
    border-top: 2px solid #f0f0f0;
}

.post-list .post-container .post {
    display: flex;    
    margin: 0 10px 0 10px;
    padding: 5px;   
    align-items: center;    
}

.post-list .post-container .post img {
    height: 50px;
    margin-right: 10px; 
}

.post-list .post-container .post .post-information {
    display: flex;  
    flex-direction: column; 
    padding: 5px; 
}

.post-list .post-container .post .post-information h2 {
    font-size: 16px;
}

.post-list .post-container .post .post-information h3 {
    font-size: 11px;
    font-weight: 100;
    color: #999999;
}

.post-list .post-container .post-content {
    padding: 10px;
    margin: 10px;    
}

.post-list .post-container .post-content h2 {
    font-size: 14px;
    font-weight: 100;    
}

.post-list .post-container .comment-container {
    margin-top: 10px;
}

.post-list .post-container .comment-container .comment {
    display: flex;
    padding:10px;
}

.post-list .post-container .comment-container .comment img {
    height: 50px;
    margin-right: 10px;     
}

.post-list .post-container .comment-container .comment .information {   
    background-color: #EEEE;
    border-radius: 15px;
    padding: 10px;   
}

.post-list .post-container .comment-container .comment .information span.name {    
    font-size: 12px; 
    font-weight: bold; 
}

.post-list .post-container .comment-container .comment .information span.content {    
    font-size: 12px;  
    font-weight: 100;
}

